:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: 'dRoboto';
}

.logo {
  color: #000000;
}

.logo > span {
  color: var(--accent-color);
}

.site-nav a {
  color: var(--title-text-color);
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}

.contacts a {
  color: var(--primary-text-color);
}

.contacts a:hover,
.contacts a:focus {
  color: var(--accent-color);
}

.site-nav .portfolio.current {
  color: var(--accent-color);
}

.section-title,
.list-item {
  color: var(--title-text-color);
}

.direction {
  color: var(--white-color);
}

.footer {
  background-color: #2f303a;
}

.contacts-list a {
  color: var(--primary-text-color);
}

/* portfolio name project */
.name-project {
  color: var(--title-text-color);
}
.portfolio-title {
  color: var(--title-text-color);
}

/* button */
.button {
  background-color: #f5f4fa;
  color: var(--title-text-color);
}
.button:hover {
  background-color: var(--accent-color);
  color: var(--white-color);
}
